<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <title>数据添加</title>

    <link rel='stylesheet' href='../../../assets/libs/layui/css/layui.css'/>
    <link rel='stylesheet' href='../../../assets/module/admin.css'/>
</head>
<body>
<!-- 正文开始 -->
<div class='layui-fluid'>
    <div class='layui-card'>
        <div class='layui-card-body'>
            <div class="layui-tab">
                <ul class="layui-tab-title">
                    <li class="layui-this">数据表列</li>
                    <li>报表按钮</li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <table id='colTable' lay-filter='colTable'></table>
                    </div>
                    <div class="layui-tab-item">内容2</div>
                </div>
            </div>
        </div>
    </div>
</div>



    <!-- js部分 -->
    <script type='text/javascript' src='../../../assets/libs/layui/layui.js'></script>
    <script type='text/javascript' src='../../../assets/js/common.js'></script>
    <script type='text/javascript'>
        var pageData =eval('(${obj})') ;
        var did = pageData.did;

        layui.use(['layer', 'table', 'admin','element'], function () {
            var $ = layui.jquery;
            var layer = layui.layer;
            var table = layui.table;
            var admin = layui.admin;
            var element = layui.element;
            var formData = JSON.parse(decodeURI($.getUrlParam("data")));


            //执行渲染
            var tableIns = table.render({
                elem: '#colTable' //指定原始表格元素选择器（推荐id选择器）
                , url: '/sys/report/form_list'
                , where: {reportId:formData.id}
                , height: 'full-135'
                , cols: [[
                    {field: 'id', title: 'ID', hide: true,width:80},
                    {field: 'field', title: '字段key', minWidth: 80},
                    {field: 'title', title: '字段名称', minWidth: 80},
                    {field: 'edit', title: '操作', toolbar: '#edit', minWidth: 80}
                ]] //设置表头

            });


        });
    </script>
</body>
</html>